@{
    ViewData["Title"] = "Login/Registro";
}
<div class="contenido">
    <div class="registro">
        @await Html.PartialAsync("_Registro")
    </div>
    <div class="login">
        @await Html.PartialAsync("_Login")
    </div>
</div>